.radioRes:checked+label, .radioRes:not(:checked)+label {
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    color: #222919;
    font-size: calc(13px + 2 * ((100vw - 320px) / 880));
    width: 44px;
    height: 44px;
    border: 2px solid #222919;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    font-family: "Oswald",sans-serif;
    font-weight: 500;
}

.radioRes:checked+label {
    background-color: #EA7F26;
    color: #ffffff;
    border-color: #EA7F26;
}

@media screen and (min-width: 1200px) {
    .radioRes:checked + label, .radioRes:not(:checked) + label {
        font-size: 15px;
    }
}

@media (min-width: 480px){
    .inputHuesped__opt label {
        margin: 0 15px 0 0 !important;
    }
}

.inputHuesped__opt {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 1200px){
    .inputHuesped__title {
        font-size: 18px;
    }
}

.inputHuesped__title {
    text-align: left;
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
    letter-spacing: 1.2px;
    margin: 0 0 10px;
    padding: 0;
}

.inputHuesped {
    width: 100%;
    height: auto;
    padding: 0 0 10px;
    margin: 0 0 10px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
}

.radioRes:checked, .radioRes:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #EA7F26;
    border-color: #EA7F26;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    font-size: calc(13px + 2 * ((100vw - 320px) / 880));
    width: 44px;
    height: 44px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    font-family: "Oswald",sans-serif;
    font-weight: 500;

}

.nav-pills .nav-link{
    background-color: transparent;
    border-color: #EA7F26;
    position: relative;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    color: #222919;
    font-size: calc(13px + 2 * ((100vw - 320px) / 880));
    width: 44px;
    height: 44px;
    border: 1px solid #222919;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    font-family: "Oswald",sans-serif;
    font-weight: 500;

}

.nav-item{
    padding: 10px;
}

.container_tabs{
    padding: 1.5rem!important;
}

.accInputList .card-header {
    padding: 7px 5px 5px;
    background-color: #818C70;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 0!important;
}

.accInputList .card-body, .accInputList .panel-body {
    padding: 20px 10px;
    font-size: calc(13px + 3 * ((100vw - 320px) / 880));
}

.extrasInp__box {
    width: 100%;
    height: auto;
    padding: 0 0 10px;
    margin: 0 0 10px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #C4C4C4;
    -webkit-box-align: start;
    box-align: start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -ms-flex-align: start;
}

.extrasInp__icon {
    width: 30px;
    height: auto;
    margin: 0 10px 0 0;
    padding: 0;
    background-color: transparent;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-direction: normal;
    box-direction: normal;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    box-pack: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    box-align: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.extrasInp__desc {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
}

.extrasInp__desc .descExtrasInp {
    margin: 0 0 5px;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.extrasInp__desc .descExtrasInp .precio {
    float: right;
    color: #818C70;
    font-family: "Oswald",sans-serif;
    font-weight: 500;
    font-size: calc(13px + 2 * ((100vw - 320px) / 880));
}